.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem;
  transition: background-color 0.3s ease;
  background-color: transparent;
}
.navbar.scrolled {
  background-color: rgba(51, 51, 51, 0.9);
}
.navbar ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar a {
  color: white;
  text-decoration: none;
}
.navbar a:hover {
  text-decoration: underline;
}
